body{
    padding:20px;
}
.search-form{
  padding-top: 50px;  
}
#login{
 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 20px;
  margin-bottom: 12px;
  background-size: 50% ;
  width: 500px;
  border-radius: 10px;
 
}
#followers{
background-color: black;
color: white;
border-radius: 1px;
}
#following{
  background-color: grey;
  color: white;
  border-radius: 1px;
}
#repos{
  background-color: rgb(41, 151, 41);
  color: white;
  border-radius: 1px;
}
.repos{
  margin-top: 12px;
}
.ridge{
  border-style: ridge;
}